extends layout

block content
  p Welcome to #{title}

  ul
     li 
      a(href='http://localhost:88/webmail/') Webmail
      |
      |
     li 
      a(class='button' href='http://localhost:88/webmail/?admin') Web mail admin
      |
      |
     li 
      a(class='button', href='http://localhost:88/ldap/') openldap
      |
      |
     li 
      a(class='button', href='http://localhost:88/rspamd/') RSPAMD